
{% extends "P8/base.html" %}

{% block title%}
    Mon espace
{% endblock title%}

{% block content %}
<div class="container-fluid p-3 text-white text-center">
    <div class="shadow-lg p-4 mb-4 bg-{{ var_color }} rounded">
        <h1>Bienvenue sur votre espace <strong> {{ user.username }} </strong>! </h1>
        <h2 class="font-italic">Voici votre adresse email : {{ user.email }}</h2>
    </div>
</div>

<!--<div class="card-group">-->

<!--{% for products in sub %}-->
<!--    <div class="card m-3" style="width: 20%;">-->
<!--      <img class="card-img-top w-75" src="{{ products.IMG_URL }}" alt="Card image cap">-->
<!--      <div class="card-body">-->
<!--        <h5 class="card-title">{{ products.NOM }}</h5>-->
<!--        <p class="card-text">{{ products.DESCRIPTION }} </p>-->
<!--        <a href="{{ products.SUBSTITUT_URL }}" class="btn btn-primary">Consulter</a>-->
<!--      </div>-->
<!--    </div>-->
<!--{% endfor %}-->



</div>
{% endblock content %}