
{% extends "P8/base.html" %}

{% block title%}
    Mon espace
{% endblock title%}

{% block content %}
<div class="border-bottom border-{{ var_color }}" style="background: center/cover url(https://images.unsplash.com/photo-1436564989038-18b9958df72b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80);">
    <h1 style="text-shadow: 1px 1px 2px black;" class="p-5 text-center text-white">Bienvenue sur votre espace <strong>{{ user.username }}</strong></h1>
    <br><br>

</div>
<div class="container-fluid p-3 text-white text-center">
    <div class="shadow-lg p-4 mb-4 bg-{{ var_color }} rounded">
        <h2 class="font-italic">Voici votre adresse email : <strong>{{ user.email }}</strong> </h2>
    </div>
</div>
<hr>


{% endblock content %}