
{% extends "P8/base.html" %}

{% block title%}
    Food_details
{% endblock title%}

{% block content %}

<!--Picture products-->
<div class="container-fluid">

    <div id="food_details" class="border-bottom border-{{ var_color }} mx-auto d-block w-50 mt-2">
        <img src="{{ food.IMG_URL }}" class="img-fluid mx-auto d-block rounded" style="width:50%;" alt="Responsive image">
        <h1 style="text-shadow: 1px 1px 2px black;" class="pt-5 text-center text-warning">{{ food.NOM }}</h1>

    </div>

<br>

<!--Link sheets OpenFoodFact-->

<div class="w-75 bg-{{var_color}} text-center text-white mx-auto d-block btn"> <a class="text-white" href="{{ food.PRODUIT_URL }}"> <h2 class="text-white"> Voir la fiche d'OpenFoodFacts  </h2></a>
</div>

   <div id="ns" class="w-25 float-left">
<img src="{{ img_ns }}" class="img-fluid mx-auto d-block rounded" alt="Responsive image">
 </div>
</div>

<!--Value 100g-->
{{ value100g }}
    <br><br><br><br><br>
{% endblock content %}
