
{% extends "P8/base.html" %}

{% block title%}
    Mes produits
{% endblock title%}

{% block content %}


<button type="button" class="btn btn-{{var_color}} text-white text-center">
  Produits sauvegardés : <span class="badge badge-light">{{ nb_products }}</span>
</button>

<h2 class="text-{{var_color}} text-center">Vous avez enregistré <strong> {{ nb_products }} </strong>produits ! </h2>
<hr>
<div class="container-fluid align-self-center">
    <div class="card-columns">
     {% for products in product %}
        {% if products.id in sub_id  %}
        <div class="card border-{{ var_color }} bg-food m-2 p-2">
          <img class="card-img-top w-25 img-responsive mx-auto d-block rounded" src="{{ products.IMG_URL }}" alt="Card image cap">
            <hr class="bg-{{ var_color }} border border-{{ var_color }}">
            <div class="card-body">
            <h5 class="card-title">{{ products.NOM }} </h5>
        <hr class="bg-{{ var_color }} border-{{ var_color }}">
          <a href="{% url 'details' products.id %}" class="btn btn-{{ var_color }} float-right w-50 text-white"><strong> Consulter  </strong></a>
          </div>

        {% if products.NUTRISCORE == 1 %}
        <h6 class="rounded bg-success position-absolute text-white" style="top:-4%; left:97%;"> {{ products.NUTRISCORE }} </h6>
        {% elif products.NUTRISCORE == 2 %}
        <h6 class="rounded bg-warning position-absolute text-white" style="top:-4%; left:97%;"> {{ products.NUTRISCORE }} </h6>
        {% else %}
        <h6 class="rounded bg-danger position-absolute text-white" style="top:-4%; left:97%;"> {{ products.NUTRISCORE }} </h6>

        {% endif %}
    </div>
        {% else %}
             {% endif %}
    {% endfor %}


</div>
{% endblock content %}