$theme-colors: (
  "Rooibos_chocolat" : #C45525,
  "Moules_frites" : #345A61,
  "Bonbon_rigolo" : #86EBE6,
  "Caramel_mou" : #DE9440,
  "Biscuit_trempé" : #E8A75D,
);

$titre-typo : "Open Sans", sans-serif;
$texte-typo : "Scope One", serif;

body {
  font-family: $texte-typo;
};

h1, h2 {
  font-family: $titre-typo;
};

$body-font-size : 2rem;

$h6-font-size: 3rem;

$h5-font-size: 3rem;

$font-family-base: 'Scope One', serif;
$font-family-sans-serif: "Open Sans", sans-serif;

@import "node_modules/bootstrap/scss/bootstrap";
@import url('http://fonts.googleapis.com/css?family=Open+Sans');
@import url('http://fonts.googleapis.com/css?family=Scope+One');