{% load static %}

<!doctype html>
<html lang="fr">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Fontawesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'P8/style.css' %}">
    <script type="text/javascript" src="{% static 'P8/script.js' %}"></script>
    <title>{% block title%}
            Dawa
           {% endblock title%}</title>
</head>
<body>


<nav class="navbar navbar-expand-sm bg-light navbar-light">
    <!-- Logo Pur Beurre -->
  <a class="navbar-brand" href="#">
    <img class="img-fluid w-50" src="{% static 'P8/images/logo.png' %}" alt="Mon image" />
  </a>
    <!-- Titre -->
    <h2>Pur Beurre</h2>
    <!-- Search field -->
  <form class="form-inline">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
  </form>
    <!-- Icone mon compte -->
  <a class="navbar-brand" href="#">
    <i class="fas fa-user-circle"></i>
  </a>

     <!-- Icone Carottes -->
  <a class="navbar-brand" href="#">
    <img class="img-fluid img-rounded w-50" src="{% static 'P8/images/carotte.svg' %}" alt="Mon image" />
  </a>
     <!-- Icone Deconnexion -->
  <a class="navbar-brand" href="#">
    <i class="fas fa-sign-out-alt"></i>
  </a>


</nav>
{% block content %}

{% endblock content %}

     <!-- Zone footer -->

<footer>
  <div class="mt-5 p-3 bg-light text-muted border-top border-primary">
    <p class="text-left d-inline">Le footer</p>
    <p class="text-right">Mentions légals</p>
  </div>
</footer>

{% if user.is_authenticated %}

Bien le bonjour  {{ user.username }} !
<a href="{% url 'deconnexion' %}">
  <button type="button" class="btn btn-outline-danger">Se déconnecter</button>
</a>

{% else %}
{% endif %}
</body>
</html>