{% load static %}

<!doctype html>
<html lang="fr">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Fontawesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'P8/style.css' %}">
    <script type="text/javascript" src="{% static 'P8/script.js' %}"></script>
    <title>{% block title%}
            Dawa
           {% endblock title%}</title>
</head>
<body class="p-2">
<p>
<i class="fas fa-adjust"></i>
</p>
{% block content %}

{% endblock content %}
</body>
</html>