
{% extends "P8/base.html" %}

{% block title%}
    Accueil
{% endblock title%}

{% block content %}
<div style="background: center/cover url(https://images.unsplash.com/photo-1436564989038-18b9958df72b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjI0MX0&auto=format&fit=crop&w=1050&q=80)">
    <h1 class="p-5 text-center text-white">Du gras oui mais de qualité !</h1>
    <h2 class="text-center text-white">Trouver un produit de substitution pour ceux que vous consommez tous les jours</h2>
</div>
{% endblock content %}