{% extends "P8/base.html" %}

{% block title%}
    Legal_Notice
{% endblock title%}

{% block content %}
<div class="container-fluid"></div>
<h1 class="{{ var_color }}">Informations légales</h1>
<hr>
<p class="text-muted">Merci de lire attentivement les présentes modalités d'utilisation du présent site avant de le parcourir. En vous connectant sur ce site, vous acceptez
 sans réserve les présentes modalités.</p>
<hr>
<h3>Editeur du site</h3>
<p>par <strong> Thomas ESTIVAL </strong></p>
<p>83470 Saint-maximin</p>
<p>estival.t@hotmail.com</p>
<p> Tél : +33 (0)7 71 59 10 21</p>
<hr>


<h3>hébergeur</h3>
<p>Hébergé par <strong> Heroku </strong></p>
<p>83470 Saint-maximin</p>
<p>estival.t@hotmail.com</p>
<p> Tél : +33 (0)7 71 59 10 21</p>
<hr>

<h3>Crédits</h3>
{% endblock content %}